{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block content %}
    <h1>{{ entry.title }}</h1>
    <hr/>
    <p>{{ entry.body }}</p>
    <hr/>
    <p>Created <strong title="{{ entry.created }}">
        {{ entry.created_in_words }}</strong> ago</p>

    <p><a href="{{ request.route_url('home') }}">Go Back</a> ::
        <a href="{{ request.route_url('blog_action', action='edit',
        _query={'id':entry.id}) }}">Edit entry</a>

    </p>
{% endblock %}

{#
The _query argument introduced here for the URL generator is a list of key/value
tuples that will be used to append as GET (query) parameters, separated by a
question mark. In this case, the URL will be appended by the GET query string
of ?id=X, where the value of X is the id of the specific blog post to retrieve.
#}
